html {
    background: url(images/spine.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding: 30px 100px;
}

#left {
	float: left;
	width: 350px;
}

#right {
	float: right;
    text-align: right;
}

.link, 
.link-about, 
.link a, 
.link-about a {
	font-family: 'Roboto Mono', monospace;
    font-size: 15px;
	color: #fff;
    width: 155px;
}

.link-about a:hover,
.link a:hover {
    color: #ffe500;
}

.link-about a:active,
.link a:active{
    color: #000;
}

/* TOGGLE */

#content-about,
#content-about a,
#content-projects,
#content-photo{
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-size: 15px;
    text-decoration: none;
}

.sub-link a {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 15px;
    padding-top: 5px;
    text-decoration: none;
}

.sub-link a:hover,
#content-about a:hover {
    text-decoration: underline;
}

article {
    padding-bottom: 10px;
}

article section:last-of-type {
    display: none;
    visibility: hidden;
}

section {
    -webkit-transition: .150s ease-in-out;
    -moz-transition: .150s ease-in-out;
    -ms-transition: .150s ease-in-out;
    -o-transition: .150s ease-in-out;
    transition: .150s ease-in-out;
}

input[type=checkbox] {
    clip: rect(0 0 0 0);
    position: absolute;
}

input[type=checkbox]:checked ~ section {
    display: block;
    visibility: visible;
}

[for="expand-photo"] span:last-of-type,
[for="expand-projects"] span:last-of-type,
[for="expand-about"] span:last-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="expand-photo"] span:first-of-type,
input[type=checkbox]:checked ~ [for="expand-projects"] span:first-of-type, 
input[type=checkbox]:checked ~ [for="expand-about"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="expand-photo"] span:last-of-type,
input[type=checkbox]:checked ~ [for="expand-projects"] span:last-of-type,
input[type=checkbox]:checked ~ [for="expand-about"] span:last-of-type {
    display: inherit;
    visibility: visible;
    color: #000000;
    background-color: #ffe500;
}

/* MEDIA QUERIES */

@media (max-width: 700px) {
    body {
        padding: 30px 50px;
    }

    #left {
        width: 100%;
    }

    #right {
        float: left;
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 400px) {
    html {
        background: url(images/spine-mobile.jpg) no-repeat top center fixed #000;
    }

     body {
        padding: 20px 0px 30px 20px;
    }

    .sub-link a {
        padding: 5px 0;
    }
}
