#starter{
    background: url(images/sequence_2.jpg) no-repeat top fixed;
    width:100%;
    top:0;
    background-color:#262626;
    overflow-x: hidden;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

*:focus {
    outline: none;
}

#index{
    width:100%;
    top:0;
    background-color:#030303;
    overflow-x: hidden;
}

#project{
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
}

#about {
}

.about {
    float: left;
    margin-top: 0px;
    width: 400px;
}

#title {
    border-bottom: 1px solid #f0f0f0;
}

nav {
    background-color: #000;
    float: left;
    margin: 0 20px 20px 0px;
    padding: 10px 10px 10px 2%;
    width: 98%;
    position: fixed;
    opacity: .9;
    z-index: 10000;
}

.nav-link {
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px 0px 0px;
    float: left;
}

.nav-link:visited
{
    color: #fff;
    font-style: underline;
    border-bottom: 2px solid #fff;
}

.nav-link:hover
{
    color: #ffe500;
}


.nav-link:focus
{
    
}

.nav-link:active
{
    
}

nav #starter {
    background-color: none;
    float: left;
    margin: 0 20px 20px 0px;
    padding: 10px 10px 10px 2%;
    width: 98%;
    position: fixed;
    opacity: .9;
}

#title-index {
    border-bottom: none;
}


.title {
    color: #ffe500;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 10px 0;
}

.sub-title {
    color: #f0f0f0;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin:0px;
    padding-bottom: 10px;
}

#footer-home {
    color: #fafafa;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    padding: 10px 0;
    opacity: .5;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #030303;
}

#footer-projects {
    color: #fafafa;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    padding: 10px 0;
    opacity: .5;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #030303;

}

.inline-link a{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: underline;
}

/* FILTERS */

.filters-projects {
    float: left;
    display: block;
    width: 100%;
    margin: 125px 0% 0% 2%;
}

.bttn-blog, .bttn-projects {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    margin: 0px 5px 10px 0px;
    padding: 8px 22px;
}

.bttn-blog:focus, 
.bttn-blog:hover,
.bttn-projects:focus, 
.bttn-projects:hover {
    outline: none;
    color: #262626;
    background-color: #fff;
}

/* PROJECTS HOME */

#projects {
    float: left;
}

#projects-col-1{
    font-size: 17px;
    float: left;
}

.project-home {
    float: left;
    width: 250px;
    min-height: 365px;
    margin: 0px 30px 0 0;
}


.project-link, .blog-link{
    font-family: 'PT Sans', sans-serif;
    color: #ffe500;
    font-size: 16px;
    text-decoration: none;
}

.project-link:hover, .blog-link:hover{
    opacity: 0.8;
}

.project-link-container {
    margin-top: 10px;
}

.blog-link{
    padding: 5px;
}

.project-home-title, .project-about {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    margin: 0;
}

.grid-home {
    width: 250px;
}

.image-link {
    margin-top: 20px;
    opacity: 1;
    width: 250px;
    height: auto;
    transition: .5s ease;
}

.image-link:hover {
    opacity: 0.7;
}

#right {
	float: right;
    text-align: right;
}

.link, 
.link-about, 
.link a, 
.link-about a {
	font-family: 'Roboto Mono', monospace;
    font-size: 17px;
	color: #fff;
    width: 155px;
}

.link-about a:hover,
.link a:hover {
    color: #ffe500;
}

.link-about a:active,
.link a:active{
    color: #000;
}

.link-view {
    color: #fff;
    text-decoration: underline;
}

/* BLOG HOME */

#blog {
    font-family: 'PT Sans', sans-serif;
    float: left;
}

.post {
    float: left;
    width: 400px;
    margin: 0px 20px 0 0;
}

.post-title {
    color: #ffe500;
    font-size: 17px;
    margin: 0px;
    text-decoration: none;
}

.post-date {
    color: #fff;
    font-size: 15px;   
    margin:0px; 
    text-decoration: none;
}

.post-intro {
    color: #fff;
    border-bottom: 1px solid #f0f0f0;
    font-size: 15px;  
    margin:0px;
    padding-bottom: 20px;
}

.post-intro a{
    color: #fff;
    font-size: 15px;  
    text-decoration: underline;
}

/* TOGGLE */

#content-projects{
    margin: 0% 9% 5% 2%;
}

#content-blog {
    margin: 100px 9% 5% 2%;
}

#content-about {
    margin: 125px 9% 5% 2%;
}

#content-about,
#content-blog, 
#content-projects {
    font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-size: 17px;
    text-decoration: none;
    float: left;
    margin-bottom: 20px;
    margin-left: 2%;
}

#content-about a {
    color: #ffe500;
}

article {
    padding-bottom: 10px;
}

article section:last-of-type {
    display: none;
    visibility: hidden;
}

section {
    -webkit-transition: .150s ease-in-out;
    -moz-transition: .150s ease-in-out;
    -ms-transition: .150s ease-in-out;
    -o-transition: .150s ease-in-out;
    transition: .150s ease-in-out;
}

input[type=checkbox] {
    clip: rect(0 0 0 0);
    position: absolute;
}

input[type=checkbox]:checked ~ section {
    display: block;
    visibility: visible;
}

[for="expand-blog"] span:last-of-type,
[for="expand-projects"] span:last-of-type,
[for="expand-about"] span:last-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="expand-blog"] span:first-of-type,
input[type=checkbox]:checked ~ [for="expand-projects"] span:first-of-type, 
input[type=checkbox]:checked ~ [for="expand-about"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="expand-blog"] span:last-of-type,
input[type=checkbox]:checked ~ [for="expand-projects"] span:last-of-type,
input[type=checkbox]:checked ~ [for="expand-about"] span:last-of-type {
    visibility: visible;
    color: #ffe500;
    display: block;
    margin-bottom: 10px;
    background-color:blue;
}

/* PROJECTS */
#projects-container {    
    padding: 30px 100px;
    margin-bottom: 50px;
}

.project {
    margin-top: 50px;
}

.header {
    background-color: #030303;
    width: 100%;
    position: fixed;
    padding: 20px 100px;
}

.back {
    font-family: 'PT Sans', sans-serif;
    color: #ffe500;
    font-size: 13px;
    float: left;
}

.next {
    float: right;
}

.full {
    width: 100%;
    float: left;
}

.paragraph {
    font-family: 'PT Sans', sans-serif;
    color: #000;
    width: 90%;
    font-size: 17px;
    text-decoration: none;
    line-height: 1.5em;
}

.project-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    float: left;
    color: #000;
    width: 100%;
}

.paragraph-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #000;
    padding-top: 20px;
    width: auto;
}

.paragraph a, .paragraph a:visited {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: #000;
    text-decoration: underline;
}


.inline-link-projects {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #000;
    text-decoration: underline;
}

.img-caption {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #b0b0b0;
    margin: 0px;
    padding-bottom: 20px;
}

.project-img img{
    border: 1px solid #b0b0b0;
    width: 80%;
}

.project-img-small img{
    border: 1px solid #b0b0b0;
    margin-right:20px;
    width: 90%;
}

.project-img {
    float:left;
}

.project-img-small {
    float: left;
    width: 50%;
}

.project-article {
    float:left;
    padding-right: 25%;
}

.link-projects {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: #000;
}

.footer-project {
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    color: #f0f0f0;
    padding: 10px 0px;
    width: 100%;
    float: right;
    text-align: center;
    margin-top: 50px;
    background-color: #262626;
}

/* MEDIA QUERIES */

@media (max-width: 1300px) {

    .grid-home {
    	margin-top: 20px;
    	border: 1px solid #505050;
    	opacity: 1;
	}
}

@media (max-width: 760px) {

	#index {
		margin: 0px;
	}

    #title {
        border-bottom: none;
    }

    #content-about
    {
        margin: 145px 9% 0% 2%;
    }

    #content-blog {
        margin: 110px 9% 0% 2%;
    }

    #content-projects,
    {
        margin: 0px 9% 0% 2%;
    }

    .filters-projects {
        margin: 145px 0% 0% 2%;
    }

    #content-about{
        margin: 130px 9% 5% 2%;
    }

    nav {
        width: 97%;
        margin: 0 0 20px 0;
    }

    .nav-link {
        padding: 10px 0;
        margin-right: 20px;
        width: auto;
    }

    #links {
        border-top: 1px solid #888888;
        margin-top: 10px;
    }

    #projects, #blog {
        padding: 0px 30px;
    }

    .project-home, .grid-home {
    	width: 100%;
        position:relative;
    }

    #about {
        padding: 30px 0px 0px 30px;
    }


    #footer-home {  
        padding: 10px 30px;
    }

    .project-home {
        min-height: 500px;
    }
}

@media (max-width: 650px) {
	#about {
        padding: 10px 0px 0px 10px;
        width: 300px;
    }

    .about {
        width: 300px;
    }

    .header {
        background-color: #262626;
        width: 100%;
        position: fixed;
        padding: 20px 30px;
    }

    #footer-home {	
        padding: 0px 10px;
    }

    #left {
        padding: 30px 10px;
    }

    input[type=checkbox]:checked ~ [for="expand-blog"] span:last-of-type,
	input[type=checkbox]:checked ~ [for="expand-projects"] span:last-of-type,
	input[type=checkbox]:checked ~ [for="expand-about"] span:last-of-type {
    	margin-bottom: 10px;
	}

	.bttn-blog, .bttn-projects {
		padding: 5px 10px;
	}

    #projects, #blog {
        padding: 0px 10px 0px 10px;
	    width: 300px;
    }
	
    #projects-col-1 {
        width: 300px;
    }


    .sub-link a {
        padding: 5px 0;
    }

    #projects-container {    
        padding: 30px 30px;
        margin-bottom: 50px;
    }

    .project-home, .grid-home {
        min-height: 0px;
    }

    .paragraph {
        font-family: 'PT Sans', sans-serif;
        color: #000;
        width: 100%;
        font-size: 15px;
        text-decoration: none;
    }

    .paragraph a, .paragraph a:visited {
    	font-size: 15px;
	}
    
    .project-article {
        padding-right: 0px;
    }

    .post {
    	width: 300px;
	}

}