#index{
    /*background: url(images/wrist-web-cropped.jpg) no-repeat top fixed;*/
    top:0;
    background-color:#262626;
    margin: 30px 100px;
}

#project{
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
}

#about {
}

.about {
    float: left;
    width: 400px;
}

#footer-home {
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    color: #fafafa;
    padding: 10px 0px;
    width: 100%;
    float: left;
    opacity: .5;
}

.inline-link a{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: underline;
}

/* PROJECTS HOME */

#projects {
    float: left;
    width: 100%;
}

#projects-col-1{
    font-size: 17px;
    float: left;
}

.project-home {
    float: left;
    width: 350px;
    min-height: 500px;
    margin: 0px 50px 0 0;
}


.project-link{
    font-family: 'PT Sans', sans-serif;
    color: #ffe500;
    font-size: 17px;
    padding-top: 5px;
    text-decoration: none;
}

.project-home-title {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 15px;
    padding-top: 5px;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

.grid-home{
    width: 350px;
    margin-top: 20px;
    border: 1px solid #505050;
    opacity: 1;
}

.grid-home:hover{
    opacity: 1;
}

#right {
	float: right;
    text-align: right;
}

.link, 
.link-about, 
.link a, 
.link-about a {
	font-family: 'Roboto Mono', monospace;
    font-size: 17px;
	color: #fff;
    width: 155px;
}

.link-about a:hover,
.link a:hover {
    color: #ffe500;
}

.link-about a:active,
.link a:active{
    color: #000;
}

.link-view {
    color: #fff;
    text-decoration: underline;
}

/* BLOG HOME */

#blog {
    float: left;
    width: 100%;
}

/* TOGGLE */

#content-about,
#content-projects,
#content-photo{
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-size: 17px;
    text-decoration: none;
}

#content-about a {
    color: #ffe500;
}

article {
    padding-bottom: 10px;
}

article section:last-of-type {
    display: none;
    visibility: hidden;
}

section {
    -webkit-transition: .150s ease-in-out;
    -moz-transition: .150s ease-in-out;
    -ms-transition: .150s ease-in-out;
    -o-transition: .150s ease-in-out;
    transition: .150s ease-in-out;
}

input[type=checkbox] {
    clip: rect(0 0 0 0);
    position: absolute;
}

input[type=checkbox]:checked ~ section {
    display: block;
    visibility: visible;
}

[for="expand-blog"] span:last-of-type,
[for="expand-projects"] span:last-of-type,
[for="expand-about"] span:last-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="expand-blog"] span:first-of-type,
input[type=checkbox]:checked ~ [for="expand-projects"] span:first-of-type, 
input[type=checkbox]:checked ~ [for="expand-about"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="expand-blog"] span:last-of-type,
input[type=checkbox]:checked ~ [for="expand-projects"] span:last-of-type,
input[type=checkbox]:checked ~ [for="expand-about"] span:last-of-type {
    display: inherit;
    visibility: visible;
    color: #ffe500;
}

/* PROJECTS */
#projects-container {    
    padding: 30px 100px;
    margin-bottom: 50px;
}

.project {
    margin-top: 50px;
}

.header {
    background-color: #fafafa;
    width: 100%;
    position: fixed;
    padding: 20px 100px;
}

.back {
    font-family: 'PT Sans', sans-serif;
    color: #000;
    font-size: 13px;
    float: left;
}

.next {
    float: right;
}

.full {
    width: 100%;
    float: left;
}

.paragraph {
    font-family: 'PT Sans', sans-serif;
    color: #000;
    width: 90%;
    font-size: 17px;
    text-decoration: none;
}

.project-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    float: left;
    color: #000;
    width: 100%;
}

.paragraph-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #000;
    padding-top: 20px;
    width: auto;
}

.inline-link-projects {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #000;
    text-decoration: underline;
}

.img-caption {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #b0b0b0;
    margin: 0px;
    padding-bottom: 20px;
}

.project-img img{
    border: 1px solid #b0b0b0;
    width: 80%;
}

.project-img-small img{
    border: 1px solid #b0b0b0;
    margin-right:20px;
    width: 90%;
}

.project-img {
    float:left;
}

.project-img-small {
    float: left;
    width: 50%;
}

.project-article {
    float:left;
    padding-right: 25%;
}

.link-projects {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #000;
}

.footer-project {
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    color: #000;
    padding: 10px 0px;
    width: 100%;
    float: right;
    text-align: center;
    margin-top: 50px;
}

/* MEDIA QUERIES */

@media (max-width: 1300px) {

    .grid-home {
	    width: 300px;
    	margin-top: 20px;
    	border: 1px solid #505050;
    	opacity: 1;
	}

    input[type=checkbox]:checked ~ [for="expand-photo"] span:last-of-type,
    input[type=checkbox]:checked ~ [for="expand-projects"] span:last-of-type,
    input[type=checkbox]:checked ~ [for="expand-about"] span:last-of-type {
        font-size: 17px;
    }

    .link, 
    .link-about, 
    .link a, 
    .link-about a {
        font-family: 'Roboto Mono', monospace;
        font-size: 17px;
        color: #fff;
        width: 155px;
    }

	.project-home {
	    float: left;
	    width: 250px;
	    min-height: 500px;
	    margin-right: 100px;
	}

	#projects-col-1, #content-about {
	    font-size: 17px;
	    float: left;
	}

	.project-home-title {
	    font-size: 17px;
	}

	.project-link {
	   font-size: 19px;
	}
}

@media (max-width: 700px) {

	#index {
		margin: 0px;
	}

    #projects {
        padding: 0px 30px;
    }

    #about {
        padding: 30px 0px 0px 30px;
    }

    .project-img-small {
        float: left;
        width: 100%;
    }

    #footer-home {  
        padding: 0px 30px;
    }
}

@media (max-width: 500px) {

    #projects {
        padding: 0px 10px 0px 10px;
	    width: 300px;
    }
	
    #projects-col-1 {
        width: 300px;
    }

    #about {
        padding: 10px 0px 0px 10px;
        width: 300px;
    }

    #left {
        padding: 30px 10px;
    }

    .sub-link a {
        padding: 5px 0;
    }

    #projects-container {    
        padding: 30px 30px;
        margin-bottom: 50px;
    }

    .project-home {
    	width: 300px;
        min-height: 0px;
    }

    .paragraph {
        font-family: 'PT Sans', sans-serif;
        color: #000;
        width: 100%;
        font-size: 15px;
        text-decoration: none;
    }
    
    .project-article {
        padding-right: 0px;
    }

    .header {
        background-color: #fafafa;
        width: 100%;
        position: fixed;
        padding: 20px 30px;
    }

     #footer-home {	
        padding: 0px 10px;
    }
}
